<%- include('./partials/header') %>

    <h1>Secret</h1>
    
<%- include('./partials/navigation') %>

    <p>Only authorized persons can view this.</p>
    <p>Now you know!</p>

<%- include('./partials/footer') %>